* { 
    font-family: Arial, Helvetica, sans-serif;
}

p {
     color:rgba(0, 0, 0, 0.56);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Contato { color: brown;}

.corverde {
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}