* { 
    font-family: Arial, Helvetica, sans-serif;
}

p {
     color:rgba(0, 0, 0, 0.56);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Contato { color: brown;}

.corverde {
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-in-line-block {
    display: inline-block;
    background-color: rgb(192, 192, 192);
    margin: 5px;
    padding: 3px;
    border-style: inset;
    
}
.flutuante {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 150px;
}